.container {
  width:98%;
  height: 50px;
  background: #eee;
  color: #aaa;
  border-radius: 10px;
  margin:20px auto;
  padding:10px 50px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
/* .row{
  display: flex;
}
.row div{
  margin: 0 2px;
}
a{
  color: #aaa;
  text-decoration: none;
}
a:hover{
  color: #56f;
  text-decoration: underline;
} */